html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
}

.header {
    grid-row: 1;
    grid-column: 2 / -1;
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 4fr;
    background-color: rgb(48, 138, 255);
    gap: 2rem;
}

.content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.main-content {
    grid-row: 1 / -1;
}

.cards {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    height: 100%;
}

.action-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

svg {
    fill: white;
}

.logo {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    color: white;
}

.logo svg {
    height: 3rem;
    justify-self: center;
}

.user-btns,
.support-btns {
    display: grid;
    grid-template-rows: repeat(6, 2rem);
}

.user-btn, 
.support-btn {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    color: white;
}

.user-btn svg,
.support-btn svg {
    height: 1.5rem;
    justify-self: center;
}